extends layout

block content
    section.hero.is-success
        div.hero-body
            div.container
            h1.title Welcome, #{params.user}


    div.columns
        div.column.is-one-quarter
            aside.menu
            .changeme
                p.menu-label Browse Our Database
            ul.menu-list
                li
                    a#pmbtn(onclick='PremadeFood()') Premade Food
                li
                    a#rbtn(onclick='Recipes()') Recipes
                li
                    a#ibtn(onclick='Ingredients()') Ingredients
                li
                    a(onclick='AdvancedSearch()') Advanced Search
            .changeme
                p.menu-label Calculate Your Nutrition
            ul.menu-list
                li
                    a(onclick='Calculator') Calculator
            .changeme
                p.menu-label User Info
            ul.menu-list
                li
                    a My Profile
                    ul
                        li
                            a Foods I Like
                        li
                            a Foods I Love
            .changeme
                p.menu-label Contribute to Our Database
            ul.menu-list
                li
                    a Submit a Premade Food
                li
                    a Submit a New Recipe

        div.column

            article.message.is-success#landingmessage
                .message-body
                    | Welcome, please navigate using the sidebar,
                    strong our database is still under construction
                    | , we are adding new things everyday, and even allow registered users to submit their own recipes,
                    a for free.
                    |  So, if you have not already please take the time to register an account,
                    em it couldn't be easier
                    | , and we would love to have more users

            div.this-is-hidden#premadefood
                article.message.is-success
                    .message-body
                        | Here you will find every premade food option that is in our database.
                        strong  Selecting an entry will bring up the nutritional information for that food.
                        |   All nutritional information is provided
                        a by the manufacturer,
                        |  for your convenince.  If you know what you're looking for,
                        em you can even search the database with the searchbar below
                div
                    .control.has-icons-left.is-large.is-loading#pSearchController
                        input.input.is-large.is-fullwidth#pInput(type='text', onkeyup='myFunction(1)', placeholder='Search for premade options..')
                        span.icon.is-medium.is-left
                            i.fas.fa-search
                        table.table.is-fullwidth.is-hoverable.is-striped#pTable
                            tbody
                                tr.header
                                    th Name
                                each food in params.pmDB
                                    tr(onclick='OpenInfo(#{food.food_ID},1)')
                                        td=food.food_name
                                        td=food.manufacturer_name

            div.this-is-hidden#recipes
                article.message.is-success
                    .message-body
                        | Here you will find every recipe that is in our database.
                        strong  Selecting an entry will bring up the nutritional information for that recipe.
                        |   All nutritional information is derived
                        a from the sum of the ingredients,
                        |  for your convenince.  If you know what you're looking for,
                        em you can even search the database with the searchbar below
                div
                    .control.has-icons-left.is-large.is-loading#rSearchController
                        input.input.is-large.is-fullwidth#rInput(type='text', onkeyup='myFunction(2)', placeholder='Search for names..')
                        span.icon.is-medium.is-left
                            i.fas.fa-search
                        table.table.is-fullwidth.is-hoverable.is-striped#rTable
                            tbody
                                tr.header
                                    th Name
                                each food in params.hfDB
                                    tr
                                        td(onclick='echoPrint(#{food.food_ID})')= food.food_name
                                        td
                                            i.far.fa-smile(onclick='echoPrint(#{food.food_ID})')
                                        td
                                            i.far.fa-heart(onclick='echoPrint(#{food.food_ID})')

            div.this-is-hidden#ingredients
                article.message.is-success
                    .message-body
                        | Here you will find every ingredient that is used in a recipe on our database.
                        strong  Selecting an entry will bring up the nutritional information for that ingredient.
                        |   All ingredient nutritional information is calculated
                        a by the gram,
                        |  for your convenince.  If you know what you're looking for,
                        em you can even search the database with the searchbar below
                div
                    .control.has-icons-left.is-large.is-loading#iSearchController
                        input.input.is-large.is-fullwidth#iInput(type='text', onkeyup='myFunction(3)', placeholder='Search for ingredients..')
                        span.icon.is-medium.is-left
                            i.fas.fa-search
                        table.table.is-fullwidth.is-hoverable.is-striped#iTable
                            tbody
                                tr.header
                                    th Name
                                each ingredient in params.iDB
                                    tr
                                        td(onclick='echoPrint(#{ingredient.ingredient_ID})')= ingredient.ingredient_name
                                        td
                                            i.far.fa-smile(onclick='echoPrint(#{ingredient.ingredient_ID})')
                                        td
                                            i.far.fa-heart(onclick='echoPrint(#{ingredient.ingredient_ID})')


            div#advanced
                article.message.is-success
                    .message-body
                        strong  Welcome to Advanced Search!
                        |   Any query imaginable can be able to be performed here
                div.columns
                    div.column
                        button.button.is-dark.is-fullwidth.is-large Premade Food
                    div.column
                        button.button.is-dark.is-fullwidth.is-large Recipes

                section.performance-facts
                      header.performance-facts__header
                        h1.performance-facts__title Nutrition Facts
                        p2
                          | Serving Size 1/2 cup (about 82g)
                        p2 Serving Per Container 8
                      table.performance-facts__table
                        thead
                          tr
                            th.small-info(colspan='3')
                              | Amount Per Serving
                        tbody
                          tr
                            th(colspan='2')
                              b Calories
                              |           
                              input.nutritionInputCals
                            td
                              | Calories from Fat
                              | 
                              input.nutritionInputCals 
                          tr.thick-row
                            td.small-info(colspan='3')
                              b % Daily Value*
                          tr
                            th(colspan='2')
                              b Total Fat
                              |          
                              input.nutritionInput 
                              a.font-black g
                            td
                              b 22%
                          tr
                            td.blank-cell
                            th
                              | Saturated Fat
                              | 
                              input.nutritionInput 
                              a.font-black g
                            td
                              b 22%
                          tr
                            td.blank-cell
                            th
                              | Trans Fat
                              | 
                              input.nutritionInput 
                              a.font-black g
                            td
                          tr
                            th(colspan='2')
                              b Cholesterol
                              |           
                              input.nutritionInput 
                              a.font-black mg
                            td
                              b 18%
                          tr
                            th(colspan='2')
                              b Sodium
                              |           
                              input.nutritionInput 
                              a.font-black mg
                            td
                              b 2%
                          tr
                            th(colspan='2')
                              b Total Carbohydrate
                              |           
                              input.nutritionInput 
                              a.font-black g
                            td
                              b 6%
                          tr
                            td.blank-cell
                            th
                              | Dietary Fiber
                              | 
                              input.nutritionInput 
                              a.font-black g
                            td
                              b 4%
                          tr
                            td.blank-cell
                            th
                              | Sugars
                              | 
                              input.nutritionInput 
                              a.font-black g
                            td
                          tr.thick-end
                            th(colspan='2')
                              b Protein
                              |           
                              input.nutritionInput 
                              a.font-black g
                            td
                      table.performance-facts__table--grid
                        tbody
                          tr
                            td(colspan='2')
                              | Vitamin A
                              | N/A
                            td
                              | Vitamin C
                              | N/A
                          tr.thin-end
                            td(colspan='2')
                              | Calcium
                              | N/A
                            td
                              | Iron
                              | N/A
                      p2.small-info
                        | * Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on your calorie needs:
                      table.performance-facts__table--small.small-info
                        thead
                          tr
                            td(colspan='2')
                            th Calories:
                            th 2,000
                            th 2,500
                        tbody
                          tr
                            th(colspan='2') Total Fat
                            td Less than
                            td 65g
                            td 80g
                          tr
                            td.blank-cell
                            th Saturated Fat
                            td Less than
                            td 20g
                            td 25g
                          tr
                            th(colspan='2') Cholesterol
                            td Less than
                            td 300mg
                            td 300 mg
                          tr
                            th(colspan='2') Sodium
                            td Less than
                            td 2,400mg
                            td 2,400mg
                          tr
                            th(colspan='3') Total Carbohydrate
                            td 300g
                            td 375g
                          tr
                            td.blank-cell
                            th(colspan='2') Dietary Fiber
                            td 25g
                            td 30g
                      p2.small-info
                        | Calories per gram:
                      p2.small-info.text-center
                        | Fat 9
                        | •
                        | Carbohydrate 4
                        | •
                        | Protein 4



                div
                    .control.has-icons-left.is-large.is-loading#rSearchController
                        input.input.is-large.is-fullwidth#rInput(type='text', onkeyup='myFunction(2)', placeholder='Search for names..')
                        span.icon.is-medium.is-left
                            i.fas.fa-search
                        table.table.is-fullwidth.is-hoverable.is-striped#rTable
                            tbody
                                tr.header
                                    th Name
                                each food in params.hfDB
                                    tr
                                        td(onclick='echoPrint(#{food.food_ID})')= food.food_name
                                        td
                                            i.far.fa-smile(onclick='echoPrint(#{food.food_ID})')
                                        td
                                            i.far.fa-heart(onclick='echoPrint(#{food.food_ID})')

            each food in params.pmDB
              - var total_fatDV = ((food.total_fat / 65) * 100).toFixed(0) + ' %'
              - var sat_fatDV = (((food.sat_fat + food.trans_fat) / 20) * 100).toFixed(0) + ' %'
              - var cholesterolDV = ((food.cholesterol / 300) * 100).toFixed(0) + ' %'
              - var sodiumDV = ((food.sodium / 2400) * 100).toFixed(0) + ' %'
              - var total_carbsDV = ((food.total_carbs / 300) * 100).toFixed(0) + ' %'
              - var diet_fiberDV = ((food.diet_fiber / 25) * 100).toFixed(0) + ' %'
              .modal(id="#{food.food_ID}")
                .modal-background
                .modal-card
                  header.modal-card-head
                    p2.modal-card-title #{food.food_name}
                    button.delete(onclick='CloseInfo(#{food.food_ID},1)')
                  .modal-card-body
                    section.performance-facts.xl
                      header.performance-facts__header
                        h1.performance-facts__title Nutrition Facts
                        p2
                          | Serving Size #{food.serving_size}g
                        p2 Serving Per Container #{food.servings}
                      table.performance-facts__table
                        thead
                          tr
                            th.small-info(colspan='3')
                              | Amount Per Serving
                        tbody
                          tr
                            th(colspan='2')
                              b Calories
                              |           
                              a.font-black=food.calories
                            td
                              | Calories from Fat
                              | 
                              a.font-black=food.fat_calories
                          tr.thick-row
                            td.small-info(colspan='3')
                              b % Daily Value*
                          tr
                            th(colspan='2')
                              b Total Fat
                              |          
                              a.font-black=food.total_fat
                              a.font-black g
                            td
                              b=total_fatDV
                          tr
                            td.blank-cell
                            th
                              | Saturated Fat
                              | 
                              a.font-black=food.sat_fat
                              a.font-black g
                            td
                              b=sat_fatDV
                          tr
                            td.blank-cell
                            th
                              | Trans Fat
                              | 
                              a.font-black=food.trans_fat
                              a.font-black g
                            td
                          tr
                            th(colspan='2')
                              b Cholesterol
                              |           
                              a.font-black=food.cholesterol
                              a.font-black mg
                            td
                              b=cholesterolDV
                          tr
                            th(colspan='2')
                              b Sodium
                              |           
                              a.font-black=food.sodium
                              a.font-black mg
                            td
                              b=sodiumDV
                          tr
                            th(colspan='2')
                              b Total Carbohydrate
                              |           
                              a.font-black=food.total_carbs
                              a.font-black g
                            td
                              b=total_carbsDV
                          tr
                            td.blank-cell
                            th
                              | Dietary Fiber
                              | 
                              a.font-black=food.diet_fiber
                              a.font-black g
                            td
                              b=diet_fiberDV
                          tr
                            td.blank-cell
                            th
                              | Sugars
                              | 
                              a.font-black=food.sugars
                              a.font-black g
                            td
                          tr.thick-end
                            th(colspan='2')
                              b Protein
                              |           
                              a.font-black=food.protein
                              a.font-black g
                            td
                      table.performance-facts__table--grid
                        tbody
                          tr
                            td(colspan='2')
                              | Vitamin A
                              | N/A
                            td
                              | Vitamin C
                              | N/A
                          tr.thin-end
                            td(colspan='2')
                              | Calcium
                              | N/A
                            td
                              | Iron
                              | N/A
                      p2.small-info
                        | * Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on your calorie needs:
                      table.performance-facts__table--small.small-info
                        thead
                          tr
                            td(colspan='2')
                            th Calories:
                            th 2,000
                            th 2,500
                        tbody
                          tr
                            th(colspan='2') Total Fat
                            td Less than
                            td 65g
                            td 80g
                          tr
                            td.blank-cell
                            th Saturated Fat
                            td Less than
                            td 20g
                            td 25g
                          tr
                            th(colspan='2') Cholesterol
                            td Less than
                            td 300mg
                            td 300 mg
                          tr
                            th(colspan='2') Sodium
                            td Less than
                            td 2,400mg
                            td 2,400mg
                          tr
                            th(colspan='3') Total Carbohydrate
                            td 300g
                            td 375g
                          tr
                            td.blank-cell
                            th(colspan='2') Dietary Fiber
                            td 25g
                            td 30g
                      p2.small-info
                        | Calories per gram:
                      p2.small-info.text-center
                        | Fat 9
                        | •
                        | Carbohydrate 4
                        | •
                        | Protein 4
                  div.is-fullwidth
                      article.message.is-danger
                        .message-body
                            strong  Be careful! This food contains the following allergens:
                    table.table.is-fullwidth.is-hoverable.is-striped#rTable
                      tbody
                          tr.header
                              th #{food.food_name} contains the following allergens:
                          each allergen in food.containsAllergens
                              tr
                                  td=allergen
                  footer.modal-card-foot
                    button.button.is-success ok



    script(src="/javascripts/dbcontrol.js")
