extends layout

block content
    section.hero.is-success.is-bold
        div.hero-body
            div.container
            h1.title Welcome, #{params.user}


    div.columns
        div.column.is-one-quarter
            aside.menu
            p.menu-label Browse Our Database
            ul.menu-list
                li 
                    a(onclick='PremadeFood()') Premade Food
                li 
                    a(onclick='Recipes()') Recipes
                li 
                    a(onclick='AdvancedSearch()') Browse Everything (Advanced Search)
            p.menu-label Calculate Your Nutrition
            ul.menu-list
                li
                    a(onclick='Calculator') Calculator
            p.menu-label User Info
            ul.menu-list
                li
                    a My Profile
                    ul
                        li
                            a Foods I Like
                        li
                            a Foods I Love
            p.menu-label Contribute to Our Database
            ul.menu-list
                li
                    a Submit a Premade Food
                li
                    a Submit a New Recipe
        
        div.column

            article.message.is-success#landingmessage
                .message-body
                    | Welcome, please navigate using the sidebar, 
                    strong our database is still under construction
                    | , we are adding new things everyday, and even allow registered users to submit their own recipes, 
                    a for free.
                    |  So, if you have not already please take the time to register an account,
                    em it couldn't be easier
                    | , and we would love to have more users

            div.this-is-hidden#premadefood
                br
                div
                    .control.has-icons-left.is-large.is-loading#searchController
                        input.input.is-large.is-fullwidth#myInput(type='text', onkeyup='myFunction()', placeholder='Search for names..')
                        span.icon.is-medium.is-left
                            i.fas.fa-search
                        table.table.is-fullwidth.is-hoverable.is-striped#myTable
                            tbody
                                tr.header
                                    th Name
                                    th Manufacturer
                                each food in ["a","b","c","d"]
                                    tr
                                        td= val
                                        td= val
                                        td 
                                            i.far.fa-smile
                                        td
                                            i.far.fa-heart         
            div.this-is-hidden#recipes
                br
                div
                    .control.has-icons-left.is-large.is-loading#searchController2
                        input.input.is-large.is-fullwidth#myInput(type='text', onkeyup='myFunction()', placeholder='Search for names..')
                        span.icon.is-medium.is-left
                            i.fas.fa-search
                        table.table.is-fullwidth.is-hoverable.is-striped#myTable
                            tbody
                                tr.header
                                    th Name
                                each food in #{params.foodDB.premade_food}
                                    tr
                                        td(onclick='echoPrint(#{food.food_id})')= food.food_name
                                        td 
                                            i.far.fa-smile(onclick='echoPrint(#{food.food_id})')
                                        td
                                            i.far.fa-heart(onclick='echoPrint(#{food.food_id})')





    script(src="/javascripts/dbcontrol.js")

