extends layout

block content
    section.hero.is-success.is-bold
        div.hero-body
            div.container
            h1.title Welcome, #{params.user}


    div.columns
        div.column.is-one-quarter
            aside.menu
            p.menu-label 
                strong Browse Our Database
            ul.menu-list
                li
                    a#pmbtn(onclick='PremadeFood()') Premade Food
                li 
                    a#rbtn(onclick='Recipes()') Recipes
                li 
                    a#ibtn(onclick='Ingredients()') Ingredients
                li 
                    a(onclick='AdvancedSearch()') Advanced Search
            p.menu-label 
                strong Calculate Your Nutrition
            ul.menu-list
                li
                    a(onclick='Calculator') Calculator
            p.menu-label 
                strong User Info
            ul.menu-list
                li
                    a My Profile
                    ul
                        li
                            a Foods I Like
                        li
                            a Foods I Love
            p.menu-label 
                strong Contribute to Our Database
            ul.menu-list
                li
                    a Submit a Premade Food
                li
                    a Submit a New Recipe
        
        div.column

            article.message.is-success#landingmessage
                .message-body
                    | Welcome, please navigate using the sidebar, 
                    strong our database is still under construction
                    | , we are adding new things everyday, and even allow registered users to submit their own recipes, 
                    a for free.
                    |  So, if you have not already please take the time to register an account,
                    em it couldn't be easier
                    | , and we would love to have more users

            div.this-is-hidden#premadefood
                article.message.is-success
                    .message-body
                        | Here you will find every premade food option that is in our database. 
                        strong  Selecting an entry will bring up the nutritional information for that food.
                        |   All nutritional information is provided
                        a by the manufacturer,
                        |  for your convenince.  If you know what you're looking for, 
                        em you can even search the database with the searchbar below
                div
                    .control.has-icons-left.is-large.is-loading#pSearchController
                        input.input.is-large.is-fullwidth#pInput(type='text', onkeyup='myFunction(1)', placeholder='Search for premade options..')
                        span.icon.is-medium.is-left
                            i.fas.fa-search
                        table.table.is-fullwidth.is-hoverable.is-striped#pTable
                            tbody
                                tr.header
                                    th Name
                                each food in params.pmDB
                                    tr
                                        td(onclick='echoPrint(#{food.food_ID})')= food.food_name
                                        td 
                                            i.far.fa-smile(onclick='echoPrint(#{food.food_ID})')
                                        td
                                            i.far.fa-heart(onclick='echoPrint(#{food.food_ID})')
       
            div.this-is-hidden#recipes
                article.message.is-success
                    .message-body
                        | Here you will find every recipe that is in our database. 
                        strong  Selecting an entry will bring up the nutritional information for that recipe.
                        |   All nutritional information is derived 
                        a from the sum of the ingredients,
                        |  for your convenince.  If you know what you're looking for, 
                        em you can even search the database with the searchbar below
                div
                    .control.has-icons-left.is-large.is-loading#rSearchController
                        input.input.is-large.is-fullwidth#rInput(type='text', onkeyup='myFunction(2)', placeholder='Search for names..')
                        span.icon.is-medium.is-left
                            i.fas.fa-search
                        table.table.is-fullwidth.is-hoverable.is-striped#rTable
                            tbody
                                tr.header
                                    th Name
                                each food in params.hfDB
                                    tr
                                        td(onclick='echoPrint(#{food.food_ID})')= food.food_name
                                        td 
                                            i.far.fa-smile(onclick='echoPrint(#{food.food_ID})')
                                        td
                                            i.far.fa-heart(onclick='echoPrint(#{food.food_ID})')

            div.this-is-hidden#ingredients
                article.message.is-success
                    .message-body
                        | Here you will find every ingredient that is used in a recipe on our database. 
                        strong  Selecting an entry will bring up the nutritional information for that ingredient.
                        |   All ingredient nutritional information is calculated
                        a by the gram,
                        |  for your convenince.  If you know what you're looking for, 
                        em you can even search the database with the searchbar below
                div
                    .control.has-icons-left.is-large.is-loading#iSearchController
                        input.input.is-large.is-fullwidth#iInput(type='text', onkeyup='myFunction(3)', placeholder='Search for ingredients..')
                        span.icon.is-medium.is-left
                            i.fas.fa-search
                        table.table.is-fullwidth.is-hoverable.is-striped#iTable
                            tbody
                                tr.header
                                    th Name
                                each ingredient in params.iDB
                                    tr
                                        td(onclick='echoPrint(#{ingredient.ingredient_ID})')= ingredient.ingredient_name
                                        td 
                                            i.far.fa-smile(onclick='echoPrint(#{ingredient.ingredient_ID})')
                                        td
                                            i.far.fa-heart(onclick='echoPrint(#{ingredient.ingredient_ID})')






    script(src="/javascripts/dbcontrol.js")

